@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Monoton&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@100&display=swap');

* {
    margin: 0;
    padding: 0; 
    font-family: 'Josefin Sans', sans-serif; 
}

body {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210207/pngtree-black-background-simple-texture-image_556938.jpg);
    background-repeat: repeat;

}

nav {
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 1.5rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav h1 {
    font-weight: 300;
    font-size: 3rem;
    color: azure;
  }

  nav ul {
    display: flex;
    list-style: none;
    padding-right: 3rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: azure;
    cursor: pointer;
    font-weight: 200;
    font-size: 1.5rem;
    padding: 1rem;
  }

  nav ul li {
    transition: 0.5s, ease-in-out;
  }
  
  nav ul li:hover{
    transform: scale(1.2);
  }

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 7rem;
    color: azure;
    font-weight: 300;
    padding: 1.5rem;
}
form {
    display: flex;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: black;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

form label {
    color: azure;
    padding: 1rem 0.5rem 0.5rem 0;
    font-weight: 300;
    font-size: 1.3rem;
}

form input {
    border: none;
    padding: 0.6rem 0.2rem 0.6rem 0.2rem ;
}

button{
    margin-top: 1rem;
    padding: 0.8rem;
    border: none;
    font-size: 1rem;
}

button:hover{
    background: gray;
    color:azure;
}

@media (max-width: 682px) {
    nav h1 {
        font-size: 1rem;
    }
  
    nav ul li a {
        padding: 0.5rem;
        font-size: 0.5rem;
    }

    form {
        padding: 2rem;
        width: 50%;
    }

    form label{
        font-size: 0.8rem;
    }
}